form #edit-workbench-access--2 {
  width: 200px;
  height: 320px; }
form input, form select {
  font-size: 14px; }
form textarea {
  font-size: 16px; }

div.admin.my-workbench .left {
  width: 20%; }
div.admin.my-workbench .right {
  width: 80%; }
