form {
	#edit-workbench-access--2 {
		width: 200px;
		height: 320px;
	}
	input, select {
		font-size: 14px;
	}
	textarea {
		font-size: 16px;
	}
}
div.admin.my-workbench {
	.left {
		width:20%;
	}
	.right {
		width:80%;
	}
}